* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
blockquote {
    margin: 0 auto;
}
body {
	margin: 0;
	color: #212121;
    font: 400 14px/1 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}
a {
	color: inherit;
    text-decoration: none;
}
a:hover, a:active {
	text-decoration: none;
}
ul {
	list-style: none;
	padding: 0;
    margin: 0;
    display: inline-block;
}
img {
	max-width: 100%;
}
/* end reset */
h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  p {
    font-size: 20px;
 
  }
.container {
   max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.row {
    margin: 0 -15px;
}
.main-banner2-area {
    background: url(../img/main-banner2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-banner2-wrapper {
    text-align: center;
    padding: 145px 0 150px;
    color: #ffffff;
}
.main-banner2-wrapper h1 {
    text-transform: capitalize;
}
.main-banner2-wrapper p {
    color: #ffffff;
   padding: 35px 0 55px 0;
}
.banner-search-area {
    background: #ebebeb;
    border: 1px solid #8f9e81;
    padding: 0;
    width: 50%;
    border-radius: 5px;
    box-shadow: 5px 2px 9px 3px #8f9e81;
}

.banner-search-area .form-control {
    border: none;
    border-radius: 0;
    background: transparent;
    color: #111111;
    font-size: 18px;
    top: 14px;
    padding: 20px 25px;
    background: #ebebeb;
 
}

.banner-search-area .input-group-addon button {
    padding: 20px 25px;
    border: 0;
    background: transparent;
}
.title-default {
    text-align: center;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.isotope-classes {
    text-align: center;
}
.isotope-classes ul li{
    display: inline;
    text-align: center;
}
.btn-white li {
    background: #ebebeb;
    padding: 10px 26px;
    font-size: 14px;
    font-weight: 500;
    color: #545c60;
    margin: 0 3px 5px;
    text-transform: capitalize;
    display: inline-block;
    transition: all 0.5s ease-out;
}
.btn-white li:hover {
    box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
    background: #e74c3c;
    color: #ffffff;
} 
.d-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.single-item:hover {
    box-shadow: 10px 11px 10px 10px rgba(220,222,221,1);
    transition: all 0.5s ease-out;
}
.single-item {
    margin-bottom: 30px;
    border: 1px solid #e7ecf2;
}
.single-item .item-img {
    position: relative;
    text-align: center;
}
.single-item .item-img .trend-items {
    cursor: pointer;
    top: 0;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 60px solid #8bc34a;
    border-right: 60px solid transparent;
    z-index: 3;
}
.bloc1 {
    filter: url(filters.svg#grayscale);
    filter: gray;
    -webkit-transition: all .5s ease-in-out;
  }
.bloc1:hover {
    filter: none;
    -webkit-transform: scale(1.1);
    position: relative;
    z-index: 1;
  }
.isotope-classes .markup  {
    padding-bottom: 60px;
}
.single-item .item-img .trend-items i {
    color: #ebebeb;
    font-size: 18px;
    bottom: 30px;
    left: 13px;
    position: absolute;
    transform: rotate(-15deg);
}
.single-item .item-content {
    background: #ffffff;
    padding: 22px 30px;
    border: 1px solid #e7ecf2;
}
.single-item .item-content .item-info {
    padding-bottom: 15px;
    border-bottom: 1px solid #e7ecf2;
    position: relative;
    text-align: left;
}
.single-item .item-content .item-info span {
    color: #8bc34a;
    font-size: 14px;
}
.single-item .item-content .item-info h3 {
    color: #263238;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.single-item .item-content .item-info .price {
    position: absolute;
    top: 35%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1;
    color: #263238;
    font-size: 20px;
    font-weight: 700;
}
.single-item .item-content .item-profile .profile-title {
    display: flex;
}
.single-item .item-content .item-profile {
    padding-top: 20px;
    display: flex;
}
.single-item .item-content .item-profile .profile-title span {
    padding: 5px 0 0 10px;
    -webkit-box-flex: 2;
    -moz-flex: 2;
    -webkit-flex: 2;
    flex: 2;
}
.single-item-grid .item-content .item-profile .profile-title {
    display: flex;
}
.single-item .item-content .item-profile .profile-rating ul li:first-child {
    margin-left: 0;
}
.img-wrapper img {
    display: block;
    max-width: 100%;
    height: auto;
    width: inherit;
}
.img-circle {
    border-radius: 50%;
}
.single-item .item-content .item-profile .profile-rating ul li {
    display: inline-block;
    color: #ffa726;
    margin-left: 1px;
    font-size: 12px;
}
.single-item .item-content .item-profile .profile-rating ul li:last-child {
    color: #b0bec5;
}
.single-item .item-content .item-profile .profile-rating ul li:last-child span {
    color: #263238;
}
.single-item .item-content .item-profile .profile-rating {
    margin-top: 5px;
    -webkit-box-flex: 1;
    -moz-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: right;
}
.back-color {
    background-color: #e3e5e4;
}
.text-center {
    text-align: center;
}
.btn-area {
    margin: 75px 0 115px;
    text-align: center;
   
  }
  .btn-area li {
    position: relative;
    display: inline-block;
    border: none;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
    background: transparent;
    border: 2px solid #ebebeb;
    margin: 0 6px 0 6px;
    box-shadow: 0px 1px 3px 0px rgba(184, 184, 184, 0.75);
    transition: all 0.5s ease-out;
  }
  .btn-area li:before {
    background: #8bc34a;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
  }
  .btn-area li a {
    display: block;
    color: #60696d;
    padding: 25px 32px;
    transition: all 0.3s ease-out;
    background-color: #fff;
  }
  .btn-area li:hover {
    box-shadow: 0px 1px 3px 0px rgba(184, 184, 184, 0.75);
  }
  .btn-area li:hover a {
    background-color: #8bc34a;
    transition: all 0.5s ease-out;
  }
.title-default {
    font-size: 36px;
    color: #263238;
    text-transform: capitalize;
    text-align: center;
    font-weight: 500;
    padding: 117px 0 60px;
}
.slider-card{
    padding: 0 15px;
    padding-bottom: 60px;
}
.slider .slick-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    justify-content: center;
    text-align: center;
}
.slider .slick-dots li {
    display: inline-block;
  
}
.slider .slick-dots li.slick-active button {
    border: 1px solid #e8e8e8;
    background-color: #8bc34a;
    box-sizing: content-box;
}
.slider .slick-dots li button {
    width: 13px;
    cursor: pointer;
    border: 1px solid transparent;
    height: 13px;
    border-radius: 50%;
    font-size: 0;
    background-color: #d5d5d5;
    padding: 0;
    margin-left: 3px;
    margin-right: 3px;
    outline: none;
    text-align: center;
}
.slick-prev,.slick-next {
    outline: none;
}