
.header-top {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    margin-bottom: 26px;
}
.header-top-right {
    display: flex;
}
.header-notify {
    display: flex;
}
.call-actions {
    span {
        color: #e74c3c;
    }
}
.head-list {
    font-size: 10px;
    background-color: #263238;
    ul{
        display: flex;
    }
    li{
        padding: 24px 30px 26px 0;
    }
    a{
        color: #ebebeb;
    }
}
.btn-nav {
    border: 1px solid transparent;
    border-radius: 2px;
    color: #fff;
    padding: 10px 22px;
    font-size: 10px;
}
.btn-green {
    background-color: #8bc34a;
}
.btn-red {
     background-color: #e74c3c;
}

.dropdown {
    .item-info {
        display: flex;
        border: 1px solid #e0e0e0;
        min-width: 268px;
        span {
            color: #8bc34a;
            font-size: 10px;
        }
        .drop-info {
            padding: 23px 0 22px 0;
        }
        .drop-title {
            color: #263238;
            font-size: 11px;
            margin-bottom: 10px;
        }
        .drop-img {
            width: 40%;
            padding: 20px 15px 23px 22px;
        }
    }
    .total-price {
        margin: 19px 0px;
        display: flex;
        justify-content: space-around;
    }
    .drop-btn {
        text-align: center;
        margin-bottom: 12px;
    }
    .btn-drop {
        background-color: #f5f5f5;
        border: 1px solid transparent;
        border-radius: 50%;
        padding: 11px 15px;
        text-align: center;
    }
    .icon-cart {
        color: #a0a0a0;
    }
    .icon-cart:hover {
        color: #111111;
    }
    .dropdown-menu, .dropdown-item {
        padding: 0;
    }
    .account-img{
        background-color: #f5f5f5;
        border: 1px solid #9cb5b9;
        border-radius: 50%;
    }
}