.section {
    font-family: 'Roboto', sans-serif;
}
.section-inverse {
    color: #ffffff;
    background-color: #333333;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 120px 0;
}
.title-inverse h2 {
    padding-bottom: 90px;
    text-align: center;
    margin: 0;
}
.raw {
    display: flex;
    margin: 0 -15px;
}
.col-4 {
    width: 33.3%;
    padding: 0 15px;
}
.card4 {
    text-align: center;
}
.card4-image {
    padding: 0 22px;
}
.car4-title h3 {
    line-height: 2;
    letter-spacing: 1px;
}
.car4-title h3:hover {
    color: #99cc33;
    }
.card4-text span {
    color:#669999;
    font-weight: 600;
}


.container-grey {
    margin: 0 33px;
    background-color:#cccccc;
}
.container-green {
    display: flex;
    padding: 115px 0;
    justify-content: center;
    margin: 0 auto;
}
.green-text {
    color: #ffffff;
    padding-right: 40px;
    font-weight: bold;
}
.green {
    display: flex;
    align-items: center;
    background-color: #99cc33;
    font-family: 'Roboto', sans-serif;
    padding: 60px 70px;
}
.btn-green {
    padding-right: 42px;
    padding-left: 42px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 18px;
}

.row {
    margin: 0 auto;
    display: flex;
}
.card3 {
    width: 25%; 
}
.footer-card-title {
    font-weight: bold;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}
.card3-text p {
    color: #999999;
    font-weight: 900;
    padding-bottom: 35px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.card3-contacts {
    color: #cccccc;
    font-family: 'Lato', sans-serif;
}
.footer-nav {
    padding: 0;
    margin: 0;
}
.card3 ul li {
    list-style: none;
    color: #999999;
}
.card3 ul li a {
    color: #999999;
}
.follow-icon {
    padding: 0;
    display: flex;
}
.green-line {
    padding: 30px 0;
}



.icon-location2:before {
    content: "\e948";
    color: #99cc33;
}
.icon-phone:before {
    content: "\e942";
    color: #99cc33;
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-pinterest:before {
  content: "\ead1";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-location2:before {
  content: "\e948";
}
