.container-grey {
    margin: 0 33px;
    background-color:#b5b5b5;
}
.container-green {
    display: flex;
    padding: 115px 0;
    justify-content: center;
    margin: 0 auto;
}
.green-text {
    color: #ffffff;
    padding-right: 40px;
    font-weight: bold;
}
.green {
    display: flex;
    align-items: center;
    background-color: #8bc34a;
    font-family: 'Roboto', sans-serif;
    padding: 60px 70px;
}
.btn-green {
    padding-right: 42px;
    padding-left: 42px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 18px;
}